[
    {
        "brand": "fresh",
        "itemName": "Sugar Advanced Therapy Treatment Lip Balm",
        "price": "$28.00"
    },
    {
        "brand": "Urban Decay",
        "itemName": "24/7 Glide-On Waterproof Eyeliner Pencil",
        "price": "$25.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "4 Piece Facial Razor Set",
        "price": "$12.00"
    },
    {
        "brand": "Charlotte Tilbury",
        "itemName": "Airbrush Flawless Finish Setting Powder",
        "price": "$48.00"
    },
    {
        "brand": "Urban Decay",
        "itemName": "All Nighter Waterproof Makeup Setting Spray",
        "price": "$36.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "Angled False Lash Applicator",
        "price": "$14.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "Angled False Lash Applicator",
        "price": "$14.00"
    },
    {
        "brand": "Dior",
        "itemName": "Backstage Face & Body Foundation",
        "price": "$43.00"
    },
    {
        "brand": "Beautyblender",
        "itemName": "Besties Iconic Makeup Sponge and Cleanser Starter Set",
        "price": "$23.00"
    },
    {
        "brand": "Anastasia Beverly Hills",
        "itemName": "Brow Definer 3-in-1 Triangle Tip",
        "price": "$26.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "Brow Scissor",
        "price": "$14.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "Brush-tip Lash Adhesive",
        "price": "$9.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "Brush-tip Lash Adhesive",
        "price": "$9.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "Cleansing + Exfoliating Wipes",
        "price": "$6.00"
    },
    {
        "brand": "Shiseido",
        "itemName": "Clear Sunscreen Stick SPF 50",
        "price": "$32.00"
    },
    {
        "brand": "Anastasia Beverly Hills",
        "itemName": "Cream Bronzer",
        "price": "$35.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "Cream Lip Stain Liquid Lipstick",
        "price": "$15.00"
    },
    {
        "brand": "LANEIGE",
        "itemName": "Cream Skin Refillable Toner & Moisturizer with Ceramides and Peptides",
        "price": "$36.00"
    },
    {
        "brand": "Marc Jacobs Fragrances",
        "itemName": "Daisy Wild Eau de Parfum Travel Spray",
        "price": "$36.00"
    },
    {
        "brand": "Velour Lashes",
        "itemName": "Effortless - No Trim - Natural Lash Collection",
        "price": "$22.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "Facial Cleansing Tool",
        "price": "$8.00"
    },
    {
        "brand": "Fenty Beauty by Rihanna",
        "itemName": "Gloss Bomb Universal Lip Luminizer",
        "price": "$21.00"
    },
    {
        "brand": "Touchland",
        "itemName": "Glow Mist Revitalizing Hand Sanitizer",
        "price": "$16.00"
    },
    {
        "brand": "Urban Decay",
        "itemName": "Grindhouse Double Barrel Pencil Sharpener",
        "price": "$12.00"
    },
    {
        "brand": "BURBERRY",
        "itemName": "Her Elixir Eau de Parfum Intense Travel Spray",
        "price": "$39.00"
    },
    {
        "brand": "Tatcha",
        "itemName": "Indigo Overnight Repair Serum in Cream Treatment",
        "price": "$92.00"
    },
    {
        "brand": "K18 Biomimetic Hairscience",
        "itemName": "Leave-In Molecular Repair Hair Mask",
        "price": "$75.00"
    },
    {
        "brand": "ONE/SIZE by Patrick Starrr",
        "itemName": "Made for Shade Bronze & Sculpt Trio Palette",
        "price": "$38.00"
    },
    {
        "brand": "Fenty Beauty by Rihanna",
        "itemName": "Match Stix Matte Contour Skinstick",
        "price": "$32.00"
    },
    {
        "brand": "Urban Decay",
        "itemName": "Mini Original Eyeshadow Primer Potion",
        "price": "$18.00"
    },
    {
        "brand": "fresh",
        "itemName": "Mini Rose Face Mask",
        "price": "$27.00"
    },
    {
        "brand": "Tower 28 Beauty",
        "itemName": "Mini SOS Daily Rescue Facial Spray",
        "price": "$12.00"
    },
    {
        "brand": "TWEEZERMAN",
        "itemName": "Pink Perfection Slant Tweezer",
        "price": "$24.00"
    },
    {
        "brand": "ONE/SIZE by Patrick Starrr",
        "itemName": "Point Made Waterproof Liquid Eyeliner Pen",
        "price": "$19.00"
    },
    {
        "brand": "Rare Beauty by Selena Gomez",
        "itemName": "Positive Light Silky Touch Highlighter",
        "price": "$25.00"
    },
    {
        "brand": "Dermalogica",
        "itemName": "Precleanse Cleansing Oil",
        "price": "$49.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "PRO Blush Brush #96",
        "price": "$30.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "PRO Blush Brush #93",
        "price": "$30.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "PRO Blush Brush #99",
        "price": "$30.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "PRO Bronzer Brush #88",
        "price": "$34.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "PRO Brow Brush #20",
        "price": "$18.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "PRO Concealer Brush #71",
        "price": "$22.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "PRO Contour Brush #79",
        "price": "$30.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "PRO Crease Brush #19",
        "price": "$20.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "PRO Crease Brush #24",
        "price": "$20.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "PRO Eye Liner Brush #22",
        "price": "$16.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "PRO Foundation Brush #64",
        "price": "$30.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "PRO Foundation Brush #56",
        "price": "$30.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "PRO Highlight Brush #90",
        "price": "$30.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "PRO Powder Brush #59",
        "price": "$34.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "PRO Shadow Brush #14",
        "price": "$20.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "PRO Shadow Brush #15",
        "price": "$20.00"
    },
    {
        "brand": "TWEEZERMAN",
        "itemName": "ProCurl Eyelash Curler",
        "price": "$24.00"
    },
    {
        "brand": "NARS",
        "itemName": "Radiant Creamy Concealer",
        "price": "$32.00"
    },
    {
        "brand": "Benefit Cosmetics",
        "itemName": "Roller Lash Curling & Lifting Mascara",
        "price": "$29.00"
    },
    {
        "brand": "caliray",
        "itemName": "So Blown Blurring & Hydrating Collagen Peptide Primer With Niacinamide",
        "price": "$36.00"
    },
    {
        "brand": "Rare Beauty by Selena Gomez",
        "itemName": "Soft Pinch Liquid Blush",
        "price": "$23.00"
    },
    {
        "brand": "MAKEUP BY MARIO",
        "itemName": "Soft Pop Powder Blush",
        "price": "$28.00"
    },
    {
        "brand": "Tower 28 Beauty",
        "itemName": "SOS Daily Rescue Facial Spray",
        "price": "$28.00"
    },
    {
        "brand": "MAKE UP FOR EVER",
        "itemName": "Step 1 Primer Color Corrector - Redness Corrector",
        "price": "$40.00"
    },
    {
        "brand": "tarte",
        "itemName": "Tartelette™ Toasted Eyeshadow Palette",
        "price": "$47.00"
    },
    {
        "brand": "Tatcha",
        "itemName": "The Dewy Serum Resurfacing and Plumping Treatment",
        "price": "$89.00"
    },
    {
        "brand": "Tatcha",
        "itemName": "The Dewy Skin Cream Plumping & Hydrating Moisturizer",
        "price": "$72.00"
    },
    {
        "brand": "Tatcha",
        "itemName": "The Essence Skincare Boosting Treatment",
        "price": "$110.00"
    },
    {
        "brand": "Tatcha",
        "itemName": "The Rice Polish Foaming Enzyme Powder",
        "price": "$68.00"
    },
    {
        "brand": "Tatcha",
        "itemName": "The Silk Peony Melting Eye Cream",
        "price": "$67.00"
    },
    {
        "brand": "SEPHORA COLLECTION",
        "itemName": "Total Coverage Blending Sponge Set",
        "price": "$10.00"
    },
    {
        "brand": "Laura Mercier",
        "itemName": "Translucent Loose Setting Powder",
        "price": "$47.00"
    },
    {
        "brand": "MAKEUP BY MARIO",
        "itemName": "Ultra Suede® Sculpting Lip Pencil",
        "price": "$24.00"
    },
    {
        "brand": "LANEIGE",
        "itemName": "Water Bank Cleansing Foam",
        "price": "$25.00"
    }
]
