[
    {
        "brand": "fresh",
        "itemName": "Sugar Advanced Therapy Treatment Lip Balm",
        "price": "$28.00"
    },
    {
        "brand": "Urban Decay",
        "itemName": "24/7 Glide-On Waterproof Eyeliner Pencil",
        "price": "$25.00"
    }
]